.box {
    border: 2px solid black;
    width: 25vw;
    height: 70vh;
    border-radius: 15px ;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 50px;
  }
  
  .main-1
  {
    display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100vw;
   background-color: azure;
    font-family: "Poppins", sans-serif;
    }
  
  .register
  {
    display: flex;
    flex-direction: column;
    gap:15%;
    align-items: center;
    margin-top: 0px;
    width: 100%;
    height: 65%;
    
  }
  .log
  {
    display: flex;
    flex-direction: column;
    gap:15%;
    align-items: center;
    margin-top: 0;
    width: 100%;
    height: 35%;
  }

  .line
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-line
  {
    border-color:black ;
    margin: "0 10px";
    width:40%;
  }
  
  
  
  
  
  .Register
{
    display: flex;
    flex-direction: column;
    gap:4vh;
}

button{
    background-color: #0965C2;
    border-radius: 25px;
    padding: 10px;
    border: none;
    font-size: large;
    color: white;
    width: 70%;

}

button:hover
{
    cursor: pointer;
    background-color: #3783cf;
}

.inp
{
    border-radius: 15px;
    padding: 10px;
    width: 70%;
    border: none;
    border: 1px solid rgb(15, 14, 14);

}